.body {
	background-color: #F9F9F9;
}

.font-highlight {
	color: rgba(71, 88, 184, 1);
}

.font-bold {
	font-weight: 700;
}

video {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

#login {
	position: absolute;
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 33%;
    height: 60%;
    margin: auto;

	padding: 50px;

	color: #fff;
	text-align: center;
}
